<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/app/script.js"></script>
    <title>Welcome To Wishlistings</title>
</head>
<body>
    <%- include('./partials/nav.ejs') %>
    <main>
        <h2>Welcome To the Wishlistings!</h2>
        <img class="Bow" src="/assets/Red_Bow_Crop.png">
    </main>
    <footer>
        <p>Copyright &copy; All Rights Reserved Wishlisting <%= new Date().getFullYear() %></p>
        <p>Made with HooAh by Ben A</p>
    </footer>
</body>
</html>