<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <script src="/app/script.js"></script>
    <title>WishListings</title>
</head>
<body>
    <%- include('./partials/nav.ejs') %>
    
    <main class="welcome">
        <h2>Welcome to WishListings!</h2>
        <p>Click the Bow to enter or signup for an account!</p>
        <a class="Bow" href="/wishlist"><img class="Bow" src="/assets/Red_Bow_Crop.png"></a> 
    </main>
</body>
    <footer class="login">
        <%- include('./partials/footer.ejs') %>
    </footer>
</html>