<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/app/script.js"></script>
    <title>WishListings</title>
</head>
<body>
    <%- include('./partials/nav.ejs') %>
    <main>
        <h2>Welcome to WishListings!</h2>
        <p>Click the Bow to enter or signup for an account!</p>
        <a class="Bow" href="/wishlist"><img class="Bow" src="/assets/Red_Bow_Crop.png"></a> 
    </main>
    <%- include('./partials/footer.ejs') %>
</body>
</html>