* {
  box-sizing: border-box;
  border-style: none;
}

body {
margin: 0px;
  background-color: #f1f1f1;
display: grid;
grid-template-columns: repeat(3, 1fr);
grid-template-rows: repeat(4, 1fr);
grid-column-gap: 0px;
grid-row-gap: 0px;
}

header {
max-height: 100px;
}

main.login { 
grid-area: 2 / 2 / 3 / 3;
border-style: solid;
border-radius: 8px;
max-width: min-content;
margin-top: -100px;
}

main.newItem {
  grid-area: 2 / 2 / 3 / 3;
  border-style: solid;
  border-radius: 8px;
  max-width: min-content;
  margin-top: -100px;
}

footer.login {
margin-top: 10vmax;
padding: 2vmax;
background-color: rgb(34, 33, 33);
color: white;
display: flex;
align-items: center;
grid-area: 4 / 1 / 5 / 4;
margin-bottom: -25px;
}

footer.indexFooter {
margin-top: 10vmax;
padding: 2vmax;
background-color: rgb(34, 33, 33);
color: white;
display: flex;
align-items: center;
grid-area: 4 / 1 / 5 / 4;
margin-bottom: -25px;
}

.indexWishList {
display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;
grid-area: 2 / 1 / 4 / 4;
margin-top: -4vmax;
}

.indexWishItem{
  margin: 10px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: 20px;
  font-size: 15px;
}

h1 {
font-size: 64px;
}
.login > label > input {
border-style:solid;
}

.newItem > form > label > input {
border-style:solid;
}

input.submit {
color: white;
padding: 5px;
  background-color: green;
  border-radius: 5px;
}

h1.accountNav {
font-size: 5vmax;
position: absolute;
top:1%;
left: 0%;
margin-left: 2%;
background-color: #f1f1f1;
}

nav.accountNav {
position: absolute;
top:1%;
right: 0%;
margin-right: 2%;
background-color: #f1f1f1;
}

.Bow {
  display: flex;
  width: 1000px;
  height: 600px;
  align-self: center;
}

.Bow:hover {
  font-size: 12;
  animation-name: grow;
  animation-duration: 300ms;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

@keyframes grow {
  from {width: 1000px;}
  to {width: 1020px;}
}

.indexWishItem {
  background-color: #d3ccc3;
  padding: 10px;
  position: relative;
  top: 0;
  left: 0;
  min-height: 415px;
}
.indexItemName {
  font-size: 28px;
  max-width: 300px;
  height: 40px;
      display: inline-block;
      overflow: visible;
      text-overflow: ellipsis;
      white-space: wrap;
}

.wishIndex {
  position: relative;
  top: 0px;
  left: 0px;
  z-index: 1;
}

.wishBow {
  position: absolute;
  top: 35px;
  left: 10px;
  z-index: 2;
}

nav.new {
max-height: 50px;
margin-top: 100px;
text-align: center;
}

.newWish {
text-align: center;
font-size: 2.5vmax;
padding-top: 70%;
border-bottom: 5px solid #e91a1e;
}
input.cartButton {
color: white;
padding: 5px;
  background-color: green;
  border-radius: 5px;
}
input.cartUnButton {
color: white;
padding: 5px;
background-color: #e91a1e;
border-radius: 5px;
}
input.Buy {
color: white;
padding: 5px;
  background-color: green;
  border-radius: 5px;
}

.welcome {
margin-top: 10vmax;
padding: 2vmax;
background-color: rgb(34, 33, 33);
color: white;
display: flex;
align-items: center;
grid-area: 1 / 1 / 3 / 4;
}

h2.title {
margin-top: 150px;
margin-bottom: 125px;
}

a {
color: black;
text-decoration: none;
}

a:hover {
color: gray;
text-decoration: underline;
}

@media only screen and (max-width: 1000px) {
.indexWishList {
  margin-top: -150px;
}
}

@media only screen and (max-width: 713px) {
.indexWishList {
  margin-top: -300px;
}
}