<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>WishListings</title>
	</head>
	<body>
        <%- include('../partials/nav.ejs') %>
		<h2>Checkout</h2>
		<form action="/wishlist/<%= wish._id %>?_method=PUT" method="POST">
            
            <label> Purchased: <input type="checkbox" name="isPurchased" 
                                    <% if(wish.isPurchased) { %> 
                                        checked
                                    <% } %>
                                >
            </label><br>
			<input type="submit" value="Update Wish">
		</form><br>
        <nav>
            <a href="/wishlist">Cancel</a>
        </nav>
        <%- include('../partials/footer.ejs') %>
    </body>
</html>