<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
		<title>WishListings</title>
	</head>
	<body>
		<%- include('../partials/nav.ejs') %>
		<h2 class="title">New Book Page</h2>
        <main class="newItem">

            <form action="/wishlist" method="POST">
                <label> Name: <br> <input type="text" name="name">
                </label><br>
                <label> Image: <br> <input type="url" name="img">
                </label><br>
                <label> Description: <br> <input type="text" name="description">
                </label><br>
                <label> Price: <br> <input type="number" name="price">
                </label><br>
                <label><% if(user == 'admin67890') { %>
                    Owner:
                <% } %> <input <% if(user !== 'admin67890') { %>
                    hidden
                <% } %>
                 type="text" name="owner" value="<%= user %>">
                </label> <br>
                <input class="submit" type="submit" value="Add Wish">
            </form><br>
            <nav>
                <a href="/wishlist">Cancel</a>
            </nav>
        </main>
        </body>
        <footer class="indexFooter">
            <%- include('../partials/footer.ejs') %>
		</footer>
        </html>
        
