<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>WishListings</title>
	</head>
	<body>
		<%- include('../partials/nav.ejs') %>
		<h2>New Book Page</h2>
		<form action="/wishlist" method="POST">
			<label> Name: <input type="text" name="name">
            </label><br>
            <label> Image: <input type="url" name="img">
            </label><br>
            <label> Description: <input type="text" name="description">
            </label><br>
            <label> Price: <input type="number" name="price">
            </label><br>
            <label> Owner: <input type="text" name="owner" value="<%= user %>">
            </label> 
			<input type="submit" value="Add Wish">
		</form><br>
        <nav>
            <a href="/wishlist">Cancel</a>
        </nav>
        <%- include('../partials/footer.ejs') %>
    </body>
</html>
